.App {
    text-align: center;
  }
  
 
  
  @media (prefers-reduced-motion: no-preference) {
    /* .App-logo {
      animation: App-logo-spin infinite 20s linear;
    } */
  }
  
  .App-header-Q2 {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(8px + 2vmin);
    color: white;
    padding-top: 10%;    
  }
  /* styles.css */



.overlayQ2 {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: rgba(52, 152, 219, 0.6); */
   /* Semi-transparent blue overlay */
  /* position: relative; */
  background-image: url('images/bg_final.JPG'); 
  background-size: cover; /* Adjust the background size as needed */
  background-position: center; /* Adjust the background position as needed */
}


  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .fade-in-text-slow {
    animation: fadeIn 3s ease-in-out; /* Adjust the animation duration and easing as needed */
  }
  
  .fade-in-text {
    animation: fadeIn 2s ease-in-out; /* Adjust the animation duration and easing as needed */
  }

  .fade-in-text-fast {
    animation: fadeIn 1s ease-in-out; /* Adjust the animation duration and easing as needed */
  }
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  